<div class="container">
    <h1>Slow loader</h1>
    <div class="actions">
        <button mat-button routerLink="/">Back</button>
        <button mat-raised-button color="primary" (click)="loadData()">Start</button>
    </div>
</div>

<ng-template #customSpinner>
    <img ngSrc="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDluMmhueWp2NDd0N3kxdGR2cWlwaHJyN3I3MW5oM21ydmVxOHM5cyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEjI6SIIHBdRxXI40/giphy.gif"
         alt="Loading..."
         width="100"
         height="100"
    >
</ng-template>
